:root {
    --black-bluish: #0B0C10;
    --black-bluish-transparent: rgba(49, 56, 53, 0.2);
    --green: rgba(0, 255, 136, 0.2);
    --green-md: #00d981;
    --white-green: rgb(164, 206, 164);
    --white: rgb(225, 241, 225);
}

.about__container {
    padding: 0px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    margin-top: 40px;
}

.about__title {
    text-align: center;
}

.about__intro {
    margin: 6px 0;
    text-align: center;
}

.quote {
    display: inline-block;
    margin: 60px 30px 0;
    background-color: var(--black-bluish-transparent);
    backdrop-filter: blur(10px);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    border-left: 6px solid var(--white-green);
}

.quote__subtitle {
    text-align: center;
    margin: 0;
}

.values {
    margin-top: 60px;
}

.values__title {
    margin: 0px 0px 40px 0px;
    text-align: center;
    width: 100%;
}

.values__list {
    padding: 0 8px;
    list-style-type: none;
}

.values__item {
    display: flex;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--green-md);
    margin-bottom: 16px;
    color: var(--white);
    opacity: 0;
}

.values__icon {
    fill: var(--green-md);
    width: 22px;
    margin-right: 12px;
}

.values__item strong {
    margin-right: 8px;
}

.skills {
    margin-bottom: 10px;
    margin-top: 44px;
}

.skills__subtitle {
    margin: 0px 0px 40px 0px;
    text-align: center;
}

.skills__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.skill {
    width: 240px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-bluish);
    box-shadow: inset 0px 0px 100px -70px var(--green-md);
    border: 1px solid var(--green-md);
}

.skill__name {
    text-align: center;
    margin: 4px 0 12px 0;
}

.skill__bar {
    width: 90%;
    height: 6px;
    margin-block-end: 6px;
}

.skill__progress {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: var(--green);
    position: relative;
}

.skill__progress::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    height: 100%;
    background: var(--green-md);
}

.skill__progress--html::after {
    width: 80%;
}

.skill__progress--css::after {
    width: 70%;
}

.skill__progress--js::after {
    width: 50%;
}

.skill__progress--python::after {
    width: 30%;
}

.skill p {
    margin: 0;
    font-size: 16px;
}

.skill__percentage {
    font-size: 16px;
}

/*ANIMATIONS*/

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    60% {
        opacity: 1;
        transform: scale(1.04);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animation--scale {
    transition: transform 1.5s ease;
    animation: scale 1.5s ease forwards;
}

@media screen and (max-width: 420px) {
    .about__container{
        margin-top: 0;
        padding: 0 16px;

    }
    .about__title {
        margin-bottom: 8px;
    }
    .about__intro {
        text-align: center;

    }
    .quote {
        margin: 48px 0;
    }
    .quote__subtitle {
        margin: 0;
    }
    .values {
        margin-top: 0px;
    }
    .values__title {
        margin-bottom: 24px;
    }
    .values__item {
        padding: 8px;
        height: 54px;
    }
    .values__icon {
        width: 18px;
        margin-right: 8px;
    }
    .values__item strong {
        width: 80px;
        margin-right: 12px;
    }
    .values__item span {
        width: 140px;
    }
    .skills {
        margin: 34px 0px 20px 0px;
    }
    .skills__subtitle {
        margin: 0px 0px 26px 0px;
    }
    .skills__list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        justify-items: center;
    }
    .skill {
        width: 100%;
        height: 78px;
        padding: 4px;
    }
    .skill__name {
        margin: 4px 0 8px 0;
    }
    .skill__bar {
        height: 4px;
    }
    .skill p {
        font-size: 14px;
    }
    .skill__percentage {
        font-size: 14px;
    }
}