:root {
    --black-bluish: #0B0C10;
    --black-bluish-transparent: rgba(49, 56, 53, 0.2);
    --green: rgba(0, 255, 136, 0.2);
    --green-md: #00d981;
    --white-green: rgb(164, 206, 164);
    --white: rgb(225, 241, 225);
}

.menu__nav {
    width: 100%;
    height: 100%;
    background-color: var(--black-bluish);
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 3;
    opacity: 0;
    top: 70px;
    left: 0px;
}

.menu__exit {
    width: 30px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 30px;
}

.exit__line-left {
    width: 24px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--white);
    transform: rotate(48deg);
}

.exit__line-right {
    width: 24px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--white);
    z-index: 1;
    transform: rotate(-48deg) translateX(1px) translateY(-1px);
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__list li {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.list__link {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    color: var(--white);
}

.list__link--active {
    color: var(--green-md)
}