:root {
    --black-bluish: #0B0C10;
    --black-bluish-transparent: rgba(49, 56, 53, 0.2);
    --green: rgba(0, 255, 136, 0.2);
    --green-md: #00d981;
    --white-green: rgb(164, 206, 164);
    --white: rgb(225, 241, 225);
}

.menu {
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__list li {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.list__link {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    color: var(--white);
}

.list__link--active {
    color: var(--green-md)
}