:root {
    --black-bluish: #0B0C10;
    --black-bluish-transparent: rgba(49, 56, 53, 0.2);
    --green: rgba(0, 255, 136, 0.2);
    --green-md: #00d981;
    --white-green: rgb(164, 206, 164);
    --white: rgb(225, 241, 225);
}

.projects__container {
    padding: 20px 60px;
    box-sizing: border-box;
}

.projects__title {
    margin-top: 20px;
    text-align: center;
}

.projects__description {
    text-align: center; 
    margin-bottom: 0;
}

.projects__grid {
    column-count: 2;
    column-gap: 30px;
    padding: 18px;
    margin-top: 42px;
    box-sizing: border-box;
}

.project {
    padding: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    break-inside: avoid;
    margin-bottom: 24px;
    background-color: var(--black-bluish-transparent);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.project:hover {
    box-shadow: 0 0 14px -4px var(--green-md);
    outline: 1px solid var(--green-md);
    transform: scale(1.01);
    transition: 
        transform 0.8s ease,
        outline 0.2s ease,
        box-shadow 0.8s ease;
}

.project:not(:hover) {
    box-shadow: 0 0 14px -4px var(--black-bluish);
    outline: transparent;
    transform: scale(1);
    transition: 
        transform 0.8s ease,
        outline 0.2s ease,
        box-shadow 0.8s ease;
}

.project__title {
    text-align: center;
    margin: 12px 0 0 0;
}

.project__image {
    width: 480px;
    object-fit: cover;
    border-radius: 10px;
}

.project__technologies {
    margin: 12px 0;
    display: flex;
    gap: 10px;
    font-weight: 700;
}

@media screen and (max-width: 420px) {
    .projects__container {
        padding: 0 16px;
    }
    .projects__grid {
        column-count: 1;
    }
    .project__image {
        width: 220px;
    }
}