:root {
    --black-bluish: #0B0C10;
    --black-bluish-transparent: rgba(49, 56, 53, 0.2);
    --green: rgba(0, 255, 136, 0.2);
    --green-md: #00d981;
    --white-green: rgb(164, 206, 164);
    --white: rgb(225, 241, 225);
}

.projects__container {
    padding: 20px 60px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.projects__title {
    margin-top: 20px;
    text-align: center;
}

.projects__description {
    text-align: center; 
    margin-bottom: 0;
}

.projects__grid {
    column-count: 2;
    column-gap: 30px;
    padding: 18px;
    margin-top: 42px;
    box-sizing: border-box;
}

.project {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    break-inside: avoid;
    margin-bottom: 24px;
    background-color: var(--black-bluish-transparent);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.project:hover {
    box-shadow: 0 0 14px -4px var(--green-md);
    outline: 1px solid var(--green-md);
    transform: scale(1.01);
    transition: 
        transform 0.8s ease,
        outline 0.2s ease,
        box-shadow 0.8s ease;
}

.project:not(:hover) {
    box-shadow: 0 0 14px -4px var(--black-bluish);
    outline: transparent;
    transform: scale(1);
    transition: 
        transform 0.8s ease,
        outline 0.2s ease,
        box-shadow 0.8s ease;
}

.project__title {
    text-align: center;
    margin: 12px 0 0 0;
}

.project__image {
    width: 480px;
    object-fit: cover;
    border-radius: 10px;
}

.project__technologies {
    margin: 12px 0;
    display: flex;
    gap: 20px;
    font-weight: 700;
}

.project__technologies--demo {
    text-decoration: none;
    width: 120px;
    height: 36px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--green-md);
    color: var(--black-bluish);
    transition: 
        background-color 0.8s ease,
        color 0.8s ease,
        transform 1s ease;
}

.technologies--icon-demo {
    margin-right: 6px;
    fill: var(--black-bluish);
    width: 18px;
    transition: fill 0.8s ease;
}

.project__technologies--demo:hover {
    background-color: var(--black-bluish-transparent);
    color: var(--white-green);
    outline: 2px solid var(--green-md);
    transform: scale(1.02);
}

.project__technologies--demo:hover svg{
    fill: var(--white-green);
}

.project__technologies--codigo {
    text-decoration: none;
    width: 120px;
    height: 36px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    outline: 2px solid var(--green-md);
    color: var(--white-green);
    transition: 
        background-color 0.8s ease,
        color 0.8s ease,
        transform 1s ease;
}

.technologies--icon-codigo {
    margin-right: 6px;
    fill: var(--white-green);
    width: 18px;
    transition: fill 0.8s ease;
}

.project__technologies--codigo:hover {
    outline: transparent;
    background-color: var(--green-md);
    color: var(--black-bluish);
    transform: scale(1.02);
}

.project__technologies--codigo:hover svg {
    fill: var(--black-bluish);
}

@media screen and (max-width: 430px) {
    .projects__container {
        padding: 0 16px;
    }
    .projects__title {
        margin: 28px 0 14px;
    }
    .projects__description {
        margin: 0;
    }
    .projects__grid {
        margin-top: 20px;
        column-count: 1;
    }
    .project__image {
        width: 220px;
    }
    .project__technologies--demo {
        width: 100px;
        height: 30px;
        border-radius: 6px;
        font-size: 14px;
    }
    .technologies--icon-demo {
        width: 16px;
        margin-right: 4px;
    }
    .project__technologies--demo:hover {
        outline: 1px solid var(--green-md);
    }
    .project__technologies--codigo {
        width: 100px;
        height: 30px;
        border-radius: 6px;
        outline: 1px solid var(--green-md);
        font-size: 14px;
    }
    .technologies--icon-codigo {
        width: 16px;
        margin-right: 4px;
    }
}