:root {
    --black-bluish: #0B0C10;
    --black-bluish-transparent: rgba(49, 56, 53, 0.2);
    --green: rgba(0, 255, 136, 0.2);
    --green-md: #00d981;
    --white-green: rgb(164, 206, 164);
    --white: rgb(225, 241, 225);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif; 
    color: var(--white);
    background-color: var(--black-bluish);
}

h1, h2, h3, h4 {
    color: var(--white);
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

h2 {
    margin-top: 48px;
    font-size: 34px;
    font-weight: 700;
}

h3 {
    margin-top: 32px;
    font-size: 24px;
}

h4 {
    margin-top: 24px;
    font-size: 20px;
}

p { 
    font-size: 20px;
    margin-top: 16px;
}

li {
    font-size: 20px;
}

strong {
    color: var(--white-green);
}

span {
    font-size: 22px;
}

.header {
    width: 100%;
    height: 80px;
    padding: 12px 70px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(11, 12, 16, 0.4);
}

.header__logo {
    width: 240px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.header__logo:hover {
    cursor: pointer;
}

.header__logo:hover .robot{
    transform: translateY(20px) scale(0.8);
}

.header__logo:hover .logo__title {
    transform: translateY(-1px);
}

.logo__title {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    text-shadow: 0px -1px 4px var(--white-green);
    position: absolute;
    z-index: 1;
    transition: transform 1s ease;
}

.header__robot {
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.ear__left {
    width: 6px;
    height: 8px;
    background-color: var(--green-md);
    border-radius: 8px 0 0 8px;
    z-index: 1;
    position: absolute;
    top: 24%;
    left: -6px;
}

.ear__right {
    width: 6px;
    height: 8px;
    background-color: var(--green-md);
    border-radius: 0 8px 8px 0;
    z-index: 1;
    position: absolute;
    top: 24%;
    left: 26px;
}

.top-antenna {
    width: 4px;
    height: 6px;
    background-color: var(--green-md);
    z-index: 1;
    position: absolute;
    top: -7px;
    left: 11px;
    border-radius: 4px;
}

.antenna {
    width: 16px;
    height: 5px;
    background-color: var(--green-md);
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    position: absolute;
    top: -4px;
    left: 5px;
}

.robot {
    position: absolute;
    left: 134px;
    top: 7px;
    width: 30px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid var(--green-md);
    background-color: var(--green-md);
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 0px 4px 0px var(--green-md);
    transform: rotate(10deg);
    transition: transform 1s ease;
}

.robot__face {
    width: 100%;
    height: 100%;
    background-color: var(--black-bluish);
    border: 1px solid var(--green-md);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robot__eyes {
    margin-top: 2px;
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: space-evenly;
}

.eye {
    width: 5px;
    height: 5px;
    border-radius: 40%;
    background-color: var(--green-md);
    animation: blinkEyes 2s ease infinite;
}

.robot__mouth {
    width: 6px;
    height: 3px;
    margin-top: 0px;
    background-color: var(--green-md);
    border-radius: 0 0 4px 4px;
}

.header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__list {
    padding: 5px;
    margin: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.nav__list li {
    width: 86px;
    border-radius: 4px;
}

.nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}

.nav__link:hover {
    background-color: var(--green);
    color: var(--white-green);
}

.nav__link--active {
    background-color: var(--green);
    color: var(--white-green);
}

.main {
    min-height: calc(100vh - 80px);
}

.footer {
    width: 100%;
    margin-top: 40px;
    padding: 1% 4%;
    box-sizing: border-box;
}

.footer__container {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    padding: 10px 10px 30px 10px;
    box-sizing: border-box;
    border-top: 1px solid var(--green-md);
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 30px;
}

.footer__title {
    margin: 10px 0;
}

.footer__text {
    margin: 0;
    font-size: 16px;
}

.footer__red {
    fill: var(--white-green);
    width: 24px;
    margin-right: 10px;
}

.footer__red:hover {
    box-shadow: 0 0 10px -4px var(--green-md);
    transform: scale(1.06);
    fill: var(--green-md);
    transition: 
        transform 0.6s ease,
        box-shadow 0.6s ease,
        fill 0.6s ease;
}
.footer__red:not(:hover) {
    box-shadow: 0 0 10px -4px var(--black-bluish);
    transform: scale(1);
    fill: var(--white-green);
    transition: 
        transform 0.6s ease,
        box-shadow 0.6s ease,
        fill 0.6s ease;
}

.footer__credits-text {
    font-size: 0.9rem;
}

/*ANIMATIONS*/

@keyframes blinkEyes {
    0% {
        height: 5px;
        transform: translateY(0);
    }
    5% {
        height: 2px;
        transform: translateY(2px);
    }
    10% {
        height: 5px;
        transform: translateY(0);
    }
}

.robot__jump {
    animation: jump 1s ease;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-4px);
    }
    10% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 360px) {
    .header {
        padding: 12px 10px;
    }
    .header__nav {
        display: none;
    }
    .logo__title {
        font-size: 26px;
    }
    .robot {
        left: 104px;
    }
}